.char-select-container {
  height: 100%;
  background-image: url('../../assets/images/background-char.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.char-select-container .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}